<%= select_month(date_field_mmyy.response(@application), :include_blank => true,
      :prefix => "answers[#{date_field_mmyy.id}]",
      :class => 'select ' + date_field_mmyy.validation_class) %>
<%= select_year(date_field_mmyy.response(@application), :include_blank => true,
      :start_year => Time.now.year - 50, :end_year => Time.now.year + 7,
      :prefix => "answers[#{date_field_mmyy.id}]",
      :class => 'select ' + date_field_mmyy.validation_class) %>

<% # not validated because class doesn't pass, see ticket #6000 -%>
