<%= calendar_date_select_tag "answers[#{date_field.id}]", date_field.format_date_response(@application),
      :buttons => false,
      :class => 'text ' + date_field.validation_class,
      :id => dom_id(date_field) + (date_field.frozen? ? '_frozen' : ''),
      :year_range => 35.years.ago..7.years.from_now,
      :disabled => @application.frozen?&&!@presenter.reference? || date_field.frozen?,
      :readonly => @application.frozen?&&!@presenter.reference? || date_field.frozen? %>
<div id="advice-validate-date-<%= dom_id(date_field) + (date_field.frozen? ? '_frozen' : '') %>" class="validation-advice" style="display: none;">Please enter a valid date (MM/DD/YYYY).</div>
<div id="advice-required-<%= dom_id(date_field) + (date_field.frozen? ? '_frozen' : '') %>" class="validation-advice" style="display: none;">This is a required field.</div>
