<%= text_field_tag "answers[#{text_field.id}]", text_field.response(@application),
      :class => "text #{text_field.style} #{text_field.question_grid_id.present? ? "col_#{text_field.question_grid_id}_#{col}#{text_field.frozen? ? '_frozen' : ''}" : ''}" + text_field.validation_class,
      :id => dom_id(text_field) + (text_field.frozen? ? '_frozen' : ''),
      :disabled => (@application.frozen?&&!@presenter.reference?) || text_field.frozen?,
      :readonly => (@application.frozen?&&!@presenter.reference?) || text_field.frozen?,
      :placeholder => placeholder,
      :maxlength => 255 %>

