<% options = [ OptionGroup.new('Short Answer', [
                    Option.new('short', 'Simple'),
                    Option.new('number', 'Number'),
                    Option.new('currency-dollar', 'Currency'),
                    Option.new('email', 'E-mail address'),
                    Option.new('url', 'Web address'),
                    Option.new('phone', 'Telephone number')
                  ]),
                OptionGroup.new('Long Answer', [
                    Option.new('essay', 'Essay')
                  ])
              ]
%>
<div class="field">
  <label for="element_style" class="desc">Style</label>
  <%= select_tag 'element[style]', 
        option_groups_from_collection_for_select(options, 'group', 'label', 'key', 'value', @element.style) %>
</div>

<%= render 'qe/admin/panels/common_fields', :f => f %>
