<div id="panel-pages" class="panel" style="display:block;">
  <%= image_tag 'qe/ajax-loader.gif',
    :id => 'page_ajax_spinner', :style => "display:none; float: right;" %>
  <ul id="list-pages">
    <%= render :partial => 'answer_sheets/page_link', :collection => @presenter.page_links %>
  </ul>
  
</div>