<h1>Questionnaires</h1>

<% form_tag answer_sheets_path() do %>
  <%= select_tag("question_sheet_id", options_for_select(@question_sheets)) %>
  <%= submit_tag("Capture") %>
<% end -%>

<table cellspacing="0" class="list"> 
<% for answer_sheet in @answer_sheets %>
  <tr>
    <td><%= link_to answer_sheet.question_sheet.label, edit_answer_sheet_path(answer_sheet) %></td>
    <td><%= link_to 'Review', answer_sheet_path(answer_sheet), :method => :get %></td>
  </tr>
<% end %>
</table>

<br />

