<div id="controls">
  <div id="panel">
    <div class="panel">
      &nbsp;
    </div>
  </div>
</div>

<div id="preview" class="answer-page">
    
<%= render :partial => 'answer_sheets/answer_sheet', :locals => {:answer_sheet => @answer_sheet, :elements => @elements } %>

</div>
