doc
log
script
test
tmp
vendor
db/*.sqlite3
coverage
public/javascripts/*.js
public/javascripts/calendar_date_select
public/images/calendar_date_select
public/stylesheets/calendar_date_select
db/schema.rb
.DS_Store
.project
application_controller.rb
*.swp

app/controllers/responses_controller.rb
app/helpers/responses_helper.rb
app/models/response.rb
app/views/responses/
