body {
  font: 11px/18px "lucida grande", verdana, arial, helvetica, sans-serif;
  background: #fff;
  color: #333;
}

h2 {
  margin-bottom: 6px;
  font-size: 18px;
  color: #000;
}

h3 {
  font-size: 15px;
  color: #333;
}

h4 {
  font-size: 12px;
  border-bottom: solid 1px #ccc;
  font-weight: bold;
  color: #369;
  margin-top: 36px;
}

a {
  color: #333;
}

p {
  margin-bottom: 9px;
}

ol {
  margin: 0 0 18px 35px;
  list-style: decimal;
}

ol li {
  margin: 0 !important;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 18px;
}

blockquote {
  margin: 0 25px 18px 25px;
}

#wrapper {
  width: 1100px;
  margin: 18px auto;
  background: #eee;
}

#header {
  height: 72px;
  background: #369;
  border-top: solid 1px #369;
}

#header h1 {
  position: absolute;
  color: #f3f3f3;
  font-weight: bold;
  margin: 4.5px 18px;
}

#main {
  overflow: hidden;
}

#nav-main {
  list-style: none;
  margin: 48px 0 0 18px;
  height: auto;
}

#nav-main li {
  float: left;
  margin-right: 9px;
}

#nav-main li.right {
  float: right;
  margin-right: 9px;
}

#nav-main a {
  font-size: 12px;
  background: #ccc;
  padding: 3px 9px 3px;
  display: block;
  line-height: 18px;
}

#nav-main .active a {
  background: #eee;
  font-weight: bold;
  color: #333;
}

#controls {
  float: left;
  margin: 18px 18px 36px 0;
  width: 275px;
  border-right: solid 1px #ccc;
  padding-right: 18px;
  padding-left: 18px;
}

#controls p {
  
}

#nav-controls {
  list-style: none;
  margin: 0;
  overflow: hidden;
}

#nav-controls li {
  float: left;
  margin: 0 5px 0 0;
}

#nav-controls a {
  display: inline-block;
  line-height: 18px;
  background: #ddd;
  padding: 3px 9px;
}

#nav-controls .active a {
  background: #fff;
  font-weight: bold;
}

#list-pages, .list-elements, #list-info-pages {
  list-style: none;
  margin: 0 0 9px 0;
}

#list-pages li, #list-info-pages li {
  margin: 5px 0;
}

.list-elements {
  margin-left: -2px;
}

.list-elements li {
  float: left;
  width: 125px;
  margin: 2px;
  background: #eee;
}

#list-pages > li > a, .list-elements a, #list-info-pages a {
  display: block;
  background: #eee url(/images/questionnaire_engine/icons/page_white.png) 2px 4px no-repeat;
  padding: 3px 3px 3px 21px;
  border: solid 1px #ccc;
  text-decoration: none;
  height: 30px;
  line-height: 16px;
}

#list-pages a:hover, #list-info-pages a:hover {
  background-color: #e6e6e6;
}

#list-pages .active a, #list-info-pages .active a {
  background-color: #ffc;
  font-weight: bold;
}

#list-pages .incomplete a {
  background: #ffe5df url(/images/questionnaire_engine/icons/page_white_error.png) 4px 4px no-repeat;
  border-color: #efbeb3;
}

#list-pages .valid a {
  background: #e5ffdf url(/images/questionnaire_engine/icons/page_valid.png) 4px 4px no-repeat;
  border-color: #0c0;
}

#link-page-add {
  display: block;
  height: 18px;
  padding: 0 0 0 24px;
  background: transparent url(/images/questionnaire_engine/icons/page_white_add.png) 4px 0 no-repeat;
  color: #4c7b31;
}

#preview {
  float: right;
  width: 650px;
  margin: 18px 100px 36px 0;
}

#panel {
  background: #fff;
  border-top: solid 1px #fff;
  clear: both;
  padding: 9px 0 54px;
}

.panel {
  padding: 9px;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
}

#panel-properties-element {
  background: #eff6ff;
  border-color: #a4caef;
}

#panel-properties-page {
  background: #cfc;
  border-color: #abd6ab;
}

.page {
  background: #fff;
  padding: 18px 0;
}

.questions li {
  margin: 0;
  padding: 0 9px;
}

label.desc {
  display: block;
}

.buttons {
  text-align: right;
}

.text {
  border: solid 1px #ccc;
  width: 384px;
}

.validate-phone, .validate-date {
  width: 192px;
}

.validate-number, .validate-currency-dollar {
  width: 96px;
}

label .required {
  color: #900;
  font-style: italic;
  margin-left: 5px;
}

label .optional {
  color: #005b89;
  font-style: italic;
  margin-left: 5px;
}

#preview .ctl {
  display: block;
  color: #333;
  border: solid 1px #eee;
  padding: 6px 24px 9px 9px;
  cursor: -moz-grab;
  text-decoration: none;
}

#preview .ctl:hover {
  border: dotted 1px #fcc !important;
  background: transparent url(/images/questionnaire_engine/icons/pencil.png) 490px 5px no-repeat;
}

.page .ctl, .questions li .ctl {
  border: solid 1px #fff !important;
}

.page .ctl, .questions li .ctl:hover {
  
}

.questions li.active {
  background: #eff6ff;
}

.questions li.active .ctl {
  border: solid 1px #eff6ff !important;
}

#link-page-name.active {
  background: #cfc;
}

.checkbox, .radio {
  display: block;
  height: 13px;
  line-height: 10px;
  margin: 6px 0pt 0pt 9px;
  width: 13px;
  vertical-align: absbottom;
}

label.choice {
  font-size: 10px;
  color: #474747;
  display: block;
  line-height: 10px;
  margin: -16px 0pt 0pt 30px;
  padding: 4px 0pt 5px;
}

label.horiz {
  display: inline;
  margin-left: 0;
}
.list-elements #qg a { background-image: url(/images/questionnaire_engine/icons/table.png); }
.list-elements #qgt a { background-image: url(/images/questionnaire_engine/icons/table.png); }

.list-elements #sl a {
  background-image: url(/images/questionnaire_engine/icons/textfield.png);
}

.list-elements #ml a {
  background-image: url(/images/questionnaire_engine/icons/textfield.png);
}

.list-elements #co a {
  background-image: url(/images/questionnaire_engine/icons/radio.png);
}

.list-elements #cm a {
  background-image: url(/images/questionnaire_engine/icons/checkbox.png);
}

.list-elements #dt a {
  background-image: url(/images/questionnaire_engine/icons/calendar_view_day.png);
}

.list-elements #fu a {
  background-image: url(/images/questionnaire_engine/icons/disk.png);
}

.list-elements #pa a {
  background-image: url(/images/questionnaire_engine/icons/text_align_left.png);
}

.list-elements #sp a {
  background-image: url(/images/questionnaire_engine/icons/text_horizontalrule.png);
}

.list-elements #sk a {
  background-image: url(/images/questionnaire_engine/icons/book_open.png);
}

.list-elements #pp a {
  background-image: url(/images/questionnaire_engine/icons/asterisk_yellow.png);
}

.list-elements #sc a {
  background-image: url(/images/questionnaire_engine/icons/map_magnify.png);
}

.answer-page .page {
	width: 700px;
  padding: 18px 9px 18px 9px;
}

.answer-page .page h3 {
  margin-bottom: 18px;
}

.answer-page .page li {
  margin: 9px 0 18px;
}

#content {
  margin: 18px;
  background: #fff;
  padding: 18px;
}

h1 {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 36px;
}

table.list {
  width: 100%;
}

table.list th {
  font-size: 12px;
  font-weight: bold;
  border-bottom: solid 1px #ccc;
}

table.list td {
  padding: 4.5px 9px;
  border-bottom: solid 1px #eee;
}

table.list tr.alt td {
  background: #f3f3f3;
}

.add-link {
  display: block;
  height: 18px;
  padding-left: 24px;
  background: transparent url(/images/questionnaire_engine/icons/application_form_add.png) 4px 0 no-repeat;
  color: #4c7b31;
}

.actions {
  text-align: right;
}

.destroy {
  color: #f00;
}

a.questionnaire {
  display: block;
  height: 18px;
  padding-left: 27px;
  background: url(/images/questionnaire_engine/icons/application_form.png) 4px 0 no-repeat;
}

.answer {
  
}

#status {
  position: fixed;
  background: #69c;
  color: #fff;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 45px;
  margin-top: -36px;
  margin-left: -100px;
  text-align: center;
  padding-top: 27px;
}

#status-img {
  vertical-align: middle;
}

#status-msg {
  font-weight: bold;
  margin-left: 9px;
}

.list-choices {
  margin-bottom: 18px;
}

.list-choices li {
  margin: 0;
}

.list-choices label {
  font-weight: normal;
}

.pay_view {
  padding: 9px;
  margin: 0 9px 18px;
  background: #f3f3f3;
  border: solid 1px #dadada;
}

.pay_view h4 {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 9px;
}

.pay_view .field {
  
}

.pay_view label {
  float: left;
  width: 125px;
}

.pay_view input, .pay_view img {
  vertical-align: middle;
}

#errorExplanation ul {
  margin-bottom: 18px;
}

#errorExplanation li {
  margin: 0 0 0 25px !important;
  padding: 0 !important;
}

a.button:visited, a.button:link {
  color: #FFFFFF;
  font-weight: Bold;
  font-size: 13px;
  text-decoration: none;
  background: #336699;
  margin: auto;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-style: outset;
  border-width: 2px;
  border-color: #dcdcdc #696969 #696969 #dcdcdc;
  width: auto
}

a.button:active, a.button:hover {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  background-color: #336699;
  margin: auto;
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-style: inset;
  border-width: 2px;
  border-color: #696969 #dcdcdc #dcdcdc #696969;
  width: auto
}

.rating td {
  padding: 0 2px !important;
  text-align: center;
  line-height: normal;
  border: none !important;
}

.print-links a {
  margin-right: 9px;
}

span.answer {
  color: #339;
}

span.answerwarn {
  color: #f00;
}

.readonly {
  list-style: none;
  margin-left: 0;
  padding-left: 18px;
}

.readonly li {
  margin-bottom: 9px !important;
}

.grid {
  width: 95%;
  border-collapse: collapse;
}

.grid td, .grid th {
  padding: 2px 4px;
  vertical-align: middle;
  border: solid 1px #eee;
}

.grid p {
  margin: 0;
}

.grid .text {
  width: 250px;
}

.grid .validate-number, .grid .validate-currency-dollar {
  width: 50px;
}

.questions li {
  clear: left;
  margin-bottom: 9px;
  overflow: hidden;
}

.controls {
  float: left;
  background: #f3f3f3;
  padding: 2px 2px 0 2px;
  border: solid 1px #dadada;
}

.controls ul li {
  width: 11px;
  height: 11px;
  padding: 0 !important;
  margin: 0 0 3px 0 !important;
  overflow: hidden;
}

.q {
  margin-left: 21px;
}

a.edit {
  display: block;
  text-indent: -9000px;
  background: url(/images/questionnaire_engine/icons/pencil.png) 0 0 no-repeat;
}

a.duplicate {
  display: block;
  text-indent: -9000px;
  background: url(/images/questionnaire_engine/icons/copy_paste.gif) 0 0 no-repeat;
}

a.handle {
  width: 11px;
  height: 11px;
  overflow: hidden;
  text-indent: -9000px;
  background: url(/images/questionnaire_engine/icons/move.png) 0 0 no-repeat;
  display: block;
}

a.remove {
  width: 11px;
  height: 11px;
  overflow: hidden;
  text-indent: -9000px;
  background: url(/images/questionnaire_engine/icons/arrow_out.png) 0 0 no-repeat;
  display: block;
}

a.help {
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  display: block;
  border: solid 1px #dadada;
  width: 16px;
  height: 16px;
  background: #f3f3f3;
  color: #066;
}
