<h3 id="h3-show-advanced-options">Advanced Options<br/>
<a style="font-size: 11px; font-weight: normal; " href="#" onclick="$('pnl-advanced').show();$('h3-show-advanced-options').hide();return false;">Show Advanced Options</a></h3>

<div id="pnl-advanced" style="display: none;">
	<h3>Advanced Options<br/>
		<a style="font-size: 11px; font-weight: normal; " href="#" onclick="$('pnl-advanced').hide();$('h3-show-advanced-options').show();return false;">Hide Advanced Options</a></h3>

	<p><label for="element_object" class="desc">Object Name</label>
		<%= f.text_field :object_name %></p>

	<p><label for="element_object" class="desc">Attribute Name</label>
		<%= f.text_field :attribute_name %></p>
</div>