<div id="panel-pages" class="panel">
<div>
  
  <%= link_to "Add a page", admin_question_sheet_pages_path(@page.question_sheet_id), :remote => true, :method => :post,  :id => "link-page-add"  %>
     
  <ul id="list-pages" data-sortable="true" data-sortable-url="<%= reorder_admin_question_sheet_pages_path(@page.question_sheet_id) %>">
    <%= render :partial => 'panels/page', :collection => @all_pages, :locals => { :current_page => @page } %>
  </ul>
  
  
</div>

</div>

<a href="/questionnaire_engine/help/builder.html" class="lbOn help" id="link-builder-help" >?</a>
  <p class="instruction">Select a page to edit.  Click 'Add a page' 
     to add a page to your form.</p>