<li id="link-<%= dom_id(page) %>" <% if page == current_page -%> class="active"<% end -%>>
  <%= link_to page.label, question_page_path(page.question_sheet_id, page.id), :remote => true, :method => :get %>
</li>