    <p><label for="element_content" class="desc">Paragraph Content</label>
        <%= f.text_area :content, :rows => 4, :cols => 25, :id => "element_content_#{element.id}" %></p>

<script type="text/javascript" charset="utf-8">
$(function() {
  CKEDITOR.replace( 'element_content_<%= element.id %>', {toolbar : [['Bold', 'Italic', '-', 'NumberedList', 'BulletedList', '-', 'Link']]} );
});
</script>