<div class="field">
  <label for="element_style" class="desc">Related Question Sheet</label>
  <%= f.select :related_question_sheet_id, (QuestionSheet.order(:label).all - [@page.question_sheet]).collect {|qs| [qs.label, qs.id]} %>
</div>

<div class="field">
  <label for="element_style" class="desc">Style</label>
  <%= f.select :style, [["Peer", "peer"], ["Spiritual", "spiritual"], ["Parent", "parent"]] %>
</div>

<%= render 'panels/common_fields', :f => f %>