<p><label for="element_content" class="desc">Paragraph Content</label>
<%= f.text_area :content, :rows => 4, :cols => 25 %></p>
<p>
<label for="element_tip" class="desc">Tip</label>
<%= f.text_area :tip, :cols => 30, :rows => 5 %>
</p>
