We weren't able to find a reference associated with this link. The are two common reason for this issue:
<ol> 
  <li>1. The applicant has picked someone else to do their reference.</li>
  <li>2. The link in your email was wrapped onto two lines. Check to make sure what you see in the address bar of your browser is the full link you see in your email.</li>
</ol>
