<% if element.question? && element.default_label?-%>
    
  <label for="<%= dom_id(element) %>" class="desc">
    <%= element.label %>
    <% if element.required? -%><span class="required">required</span><% end -%>
    <%= image_tag('questionnaire_engine/icons/question-balloon.png', :title => element.tooltip) if element.tooltip.present? %>
  </label>
<% end -%>
    
<%= render :partial => 'questions/' + element.ptemplate, :object => element, :locals => {:col => nil} %>