.fieldWithErrors {
  border: solid 1px red !important;
  background: #fee;
}

#errorExplanation {
  width: 30em;
  border: 1px solid red;
  margin-bottom: 1em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 0.5em;
  font-size: 12px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 0.5em;
}

#errorExplanation ul li {
  padding: 0.5em;
  font-size: small;
  list-style-type: square;
  margin-left: 0.5em;
  list-style-position: inside;
}

input.disabled {
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
}

input.required, textarea.required {
  border: 1px solid #ccc;
}

input.validation-failed, textarea.validation-failed {
  border: 1px solid #FF3300;
  color: #FF3300;
}

input.validation-passed, textarea.validation-passed {
  border: 1px solid #ccc;
  color: #000;
}

.validation-advice {
  margin: 5px 0;
  padding: 5px;
  background: #ffe5df;
  border: solid 1px #efbeb3;
  color: black;
  font-weight: bold;
}

.custom-advice {
  margin: 5px 0;
  padding: 5px;
  background-color: #C8AA00;
  color: #FFF;
  font-weight: bold;
}

fieldset {
  padding: 1em;
  margin-bottom: 0.5em;
}

label {
  font-weight: bold;
}

.form-row {
  clear: both;
  padding: 0.5em;
}

.field-label {
  
}

.field-widget {
  
}