if ($('#question_modal')[0] == null) {
	$('body').append('<div id="question_modal"><div id="questions_div" title=""></div></div>');
}
$('#questions_div').html("<%= escape_javascript(render('questions/questions', :questions => @questions)) %>")
$('#question_modal').dialog();