%h1 Listing admin_question_sheets

%table
  %tr
    %th
    %th
    %th

  - @question_sheets.each do |question_sheet|
    %tr
      %td= link_to 'Show', qe.admin_question_sheet_url(question_sheet)
      %td= link_to 'Edit', qe.edit_admin_question_sheet_path(question_sheet)
      %td= link_to 'Destroy', qe.admin_question_sheet_path(question_sheet.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Question sheet', qe.new_admin_question_sheet_path
