<script language="javascript">
var activeElement = "";
</script>


<div id="controls">
  <ul id="nav-controls">
    <%= render :partial => 'qe/admin/panels/nav_controls' %>
  </ul>
      
  <div id="panel">
    <%= render :partial => 'qe/admin/panels/pages_list' %>
  </div>
</div>


<div id="preview">
  <h2 id='sheet-name'>
    <%= link_to @question_sheet.label, edit_admin_question_sheet_path(@question_sheet), :remote => true, :method => :get , :class => "ctl"  %>
  </h2>
  <div id="page-preview">
    <%= render :partial => 'qe/admin/question_pages/question_page' %>
  </div>
</div>

<div style="clear:both;">&nbsp;</div>

