<!DOCTYPE html>
<html>
<head>
  <title>Qe</title>
  <%= stylesheet_link_tag    "qe/application", :media => "all" %>
  <%= javascript_include_tag "qe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
