<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Dynamic Forms</title>
  <%= questionnaire_engine_includes %>
  <%= javascript_include_tag 'rails', 'rails.extra' %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="wrapper">
   <div id="header">
   </div>
   
   <div id="main">
    <%= yield %>
   </div>
</div>

</body>
</html>
